<h3 style="text-align: center;">Employee List</h3>


  <kendo-grid [data]="gridView" [height]="410" [pageSize]="pageSize" [skip]="skip" [pageable]="true" (pageChange)="pageChange($event)"> 
    <kendo-grid-column field="empid" title="Id" width="50">
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Name" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="email" title="Email" width="170">
    </kendo-grid-column>
    <kendo-grid-column field="phone" title="Phone No." width="150">
    </kendo-grid-column>
    <kendo-grid-column field="joiningdate" title="Joinind Date" format="{0:d}" width="150">
    </kendo-grid-column>
    <kendo-grid-column  title="Edit" width="70">
      <ng-template kendoGridCellTemplate>
        <button kendoButton icon="edit" (click)="OnEdit(gridView)"></button>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column  title="Delete" width="80">
      <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
        <button kendoButton icon="delete" (click)="open('open', gridView.data[rowIndex])"></button>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Index">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          Data Row #: {{rowIndex}} /
          <strong>{{gridView.name}}</strong>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>



  <kendo-dialog
      title="Please confirm"
      *ngIf="openDialog"
      (close)="open('cancel')"
      [minWidth]="250"
      [width]="450"
    >
      <p style="margin: 30px; text-align: center;">
        Are you sure you want to delete this employee details.?
      </p>
      <kendo-dialog-actions>
        <button kendoButton (click)="open('no')">No</button>
        <button kendoButton (click)="open('yes')" primary="true">Yes</button>
      </kendo-dialog-actions>
    </kendo-dialog>