
            <form [formGroup]="EmployeeForm" class="m-5" (ngSubmit)="isSubmit? onSubmit() : OnUpdata()" >
                <h3 style="text-align: center;">Employee Details</h3>


               <kendo-formfield>
                <kendo-label for="name">Name: <span class="text-danger">*</span></kendo-label>
                <kendo-textbox formControlName="name" id="name" showSuccessIcon="initial" showErrorIcon="initial" required [ngClass]="{'is-invalid': submitted && f.name.errors}"></kendo-textbox>
                <span *ngIf="submitted && f.name.errors" class="text-danger">Employee Name is Required*</span>
              </kendo-formfield>

              <kendo-formfield>
                <kendo-label for="empid">Employee ID: <span class="text-danger">*</span></kendo-label>
                <kendo-textbox formControlName="empid" id="empid" showSuccessIcon="initial" showErrorIcon="initial" required [ngClass]="{'is-invalid': submitted && f.name.errors}"></kendo-textbox>
                <span *ngIf="submitted && f.empid.errors" class="text-danger">Employee Id is Required*</span>
              </kendo-formfield>

              <kendo-formfield>
                <kendo-label for="email">Email: <span class="text-danger">*</span></kendo-label>
                <kendo-textbox formControlName="email" id="email" showSuccessIcon="initial" showErrorIcon="initial" required [ngClass]="{'is-invalid': submitted && f.name.errors}"></kendo-textbox>
                <span *ngIf="submitted && f.email.errors" class="text-danger">Enter Valid Email Id*</span>
              </kendo-formfield>

                <kendo-formfield>
                    <kendo-label for="phone">Phone No: <span class="text-danger">*</span></kendo-label>
                    <kendo-maskedtextbox [mask]="mask" formControlName="phone" id="phone" showSuccessIcon="initial" showErrorIcon="initial" required [ngClass]="{'is-invalid': submitted && f.name.errors}">
                    
                        <ng-template kendoTextBoxPrefixTemplate>
                        <span>+1</span>
                        <kendo-textbox-separator></kendo-textbox-separator>
                        </ng-template>
                    </kendo-maskedtextbox>
                    <span *ngIf="submitted && f.phone.errors" class="text-danger">Enter Valid Email Id*</span>
                </kendo-formfield>

                <div>
                    <label for="phone" class="mt-3">Phone No: <span class="text-danger">*</span></label>
                    <div  class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">+1</span>
                        <input type="text"  maxlength="10"  class="form-control" id="phone" formControlName="phone" #phone [ngClass]="{'is-invalid': submitted && f.phone.errors }">
                   </div>
                     <span *ngIf="submitted && f.phone.errors" class="text-danger">Phone number required*</span>
                </div>

                <div>
                    <label for="joiningdate" class="mt-3">Joining Date: <span class="text-danger">*</span></label>
                    <input type="date" [max]="maxdate" class="form-control" id="joiningdate" formControlName="joiningdate" [ngClass]="{'is-invalid': submitted && f.joiningdate.errors }">
                </div>

                <input *ngIf="isSubmit" type="submit" class="btn btn-primary mt-5" value="Submit">
                <input *ngIf="isUpdate" type="submit" class="btn btn-success mt-5" value="Update">
            </form>
