
            <form [formGroup]="EmployeeForm" class="m-5 k-form" (ngSubmit)="isSubmit? onSubmit() : OnUpdata()" >
              <fieldset class="k-form-fieldset">
                <h3 style="text-align: center;">Employee Details</h3>


               <kendo-formfield>
                <kendo-label for="name">Name: <span class="text-danger">*</span></kendo-label>
                <kendo-textbox formControlName="name" id="name" showSuccessIcon="initial" showErrorIcon="initial" required [ngClass]="{'is-invalid': submitted && f.name.errors}"></kendo-textbox>
                <span *ngIf="submitted && f.name.errors" class="text-danger">Employee Name is Required*</span>
              </kendo-formfield>

              <kendo-formfield>
                <kendo-label for="empid">Employee ID: <span class="text-danger">*</span></kendo-label>
                <kendo-numerictextbox formControlName="empid" 
                                      type="number"
                                      id="empid" 
                                      showSuccessIcon="initial" 
                                      showErrorIcon="initial" 
                                      required 
                                      format=""
                                      [step]="1"
                                      [min]="1"
                                      [max]="99999"
                                      [ngClass]="{'is-invalid': submitted && f.empid.errors}">
                </kendo-numerictextbox>
                <span *ngIf="submitted && f.empid.errors" class="text-danger">Employee Id is Required*</span>
              </kendo-formfield>

              <kendo-formfield>
                <kendo-label for="email">Email: <span class="text-danger">*</span></kendo-label>
                <kendo-textbox formControlName="email" id="email" showSuccessIcon="initial" showErrorIcon="initial" required [ngClass]="{'is-invalid': submitted && f.email.errors}"></kendo-textbox>
                <span *ngIf="submitted && f.email.errors" class="text-danger">Enter Valid Email Id*</span>
              </kendo-formfield>

                <kendo-formfield>
                    <kendo-label for="phone">Phone No: <span class="text-danger">*</span></kendo-label>
                    <kendo-maskedtextbox [mask]="mask" formControlName="phone" id="phone" #phone showSuccessIcon="initial" showErrorIcon="initial" required [ngClass]="{'is-invalid': submitted && f.phone.errors}">
                    </kendo-maskedtextbox>
                    <span *ngIf="submitted && f.phone.errors" class="text-danger">Phone number required*</span>
                </kendo-formfield>
                
                <kendo-formfield>
                  <kendo-label [for]="joiningdate" text="Joining Date:"></kendo-label>
                  <kendo-datepicker
                      #joiningdate
                      formControlName="joiningdate"
                      [min]="min"
                      [max]="max"
                      [readOnlyInput]="true"
                      [format]="format"
                      [value]="max"
                      showSuccessIcon="initial" 
                      showErrorIcon="initial" 
                      >
                  </kendo-datepicker>
              </kendo-formfield>

                <input *ngIf="isSubmit" type="submit" class="btn btn-primary mt-5" value="Submit">
                <input *ngIf="isUpdate" type="submit" class="btn btn-success mt-5" value="Update">

              </fieldset>
            </form>
